* {
  margin: 0;
  padding: 0;
  /* border: solid 0.1px; */
}
p,
a {
  font-family: "Instrument sans", sans-serif;
  font-size: 18px;
}
h1,
h2,
h3,
i {
  font-family: "Instrument Serif", serif;
  font-weight: 500;
}
body {
  display: block;
  padding: 20px 0;
  background-image: url(./media/bg-sky1.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
/* BANNER */
body > header {
  background-image: url(./media/banner.png);
  background-size: cover;
  background-position: right;
  height: 200px;
  width: 100%;
  max-width: 1000px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  text-align: center;
  letter-spacing: 20%;
  font-size: 30px;
  color: #000000;
  box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.25);
}
body > header > h1 {
  color: #ffffff;
  mix-blend-mode: difference;
}
body > header i {
  display: none;
}
/* MAIN CONTENTS */
#middle-page {
  margin: 20px auto;
  display: flex;
  justify-content: space-between;

  max-width: 1000px;
}
/* MAIN CONTENTS' MAIN CONTENT */
main {
  margin: 0 auto;
  box-sizing: border-box;
  background-color: #fff9f3;
  display: flex;
  flex-direction: column;
  width: 560px;
  gap: 30px;
  padding: 24px 35px;
  box-shadow: 0 0 15.6px rgba(0, 0, 0, 0.25);
}
/* welcome */
#welcome {
  text-align: center;
}
#welcome h2 {
  font-size: 60px;
  font-style: italic;
}
/* intro */
#intro {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
#intro h2 {
  font-size: 40px;
}
#intro > .heading {
  display: flex;
  align-items: center;
  gap: 5px;
}
#intro .heading img {
  height: 50px;
}
#intro .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 20px;
}
.photo {
  display: flex;
  flex-direction: column;
  width: 40%;
  flex-shrink: 0;
  text-align: center;
  gap: 10px;
}
.photo p {
  font-size: 15px;
  letter-spacing: 1px;
  color: #4f4f4f;
}
#intro .content img {
  width: 100%;
}
/* projects */
#projects {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
#projects h2 {
  font-size: 40px;
  line-height: 100%;
}
#projects .heading {
  display: flex;
  justify-content: space-between;
  align-items: end;
}
#projects .heading a {
  color: #000000;
}
#projects .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 30px;
}
#projects .card {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 0;
  box-shadow: 0 0 20px #00000024;
}
#projects h3 {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
#projects .card-img {
  display: flex;
  width: 100%;
}
#projects .card-img img {
  width: 100%;
}
#projects .card > .content {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  gap: 10px;
  padding: 15px;
}
#projects .content h3 {
  font-size: 30px;
}
#projects .content p {
  font-size: 15px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}
/* blog */
#achievements {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
#achievements h2 {
  font-size: 40px;
  line-height: 100%;
}
#achievements .heading {
  display: flex;
  justify-content: space-between;
  align-items: end;
}
#achievements .heading a {
  color: #000000;
}
#achievements .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 30px;
}
#achievements .card {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 0;
  box-shadow: 0 0 20px #00000024;
}
#achievements h3 {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
#achievements .card-img {
  display: flex;
  width: 100%;
}
#achievements .card-img img {
  width: 100%;
}
#achievements .card > .content {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  gap: 10px;
  padding: 15px;
}
#achievements .content h3 {
  font-size: 30px;
}
#achievements .content p {
  font-size: 15px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}
/* thank you & contact */
#thanks {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

#thanks h2 {
  font-size: 50px;
  font-style: italic;
}
#thanks > .heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
#thanks .heading img {
  height: 50px;
}

/* ASIDE left&right */
aside {
  display: flex;
  flex-direction: column;
  width: 20%;
}
/* FOOTER */
footer {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: #fff9f3;
  max-width: 1000px;
  margin: 0 auto;
  height: 100px;
}
footer p {
  font-family: "Instrument Serif";
  font-size: 30px;
}
/* ASIDE LEFT: NAV */
nav {
  display: flex;
  flex-direction: column;
  background-color: #fff9f3;
  padding: 100px 10px 5px;
  position: sticky;
  top: 80px;
  box-shadow: 0 0 15.6px rgba(0, 0, 0, 0.25);
}
nav img {
  width: 80%;
  position: absolute;
  top: -50px;
  align-self: center;
}
nav ul {
  display: flex;
  flex-direction: column;
}
nav ul h3 {
  background-color: #cfd7e2;
  padding: 5px 10px;
  font-size: 24px;
  line-height: 100%;
  margin-bottom: 10px;
}
nav ul li {
  list-style-type: none;
  font-style: italic;
  margin-bottom: 15px;
  margin-left: 10px;
  align-self: start;
}
nav ul li a {
  text-decoration: none;
  color: #000000;
}
/* RESPONSIVE */
@media screen and (max-width: 999px) {
  aside {
    display: none;
  }
  main {
    width: 100%;
  }
}
@media (max-width: 430px) {
  main {
    margin-top: 80px;
  }
  body > header {
    justify-content: space-between;
    padding: 20px;
    height: 100px;
    position: fixed;
    top: 0;
    font-size: 20px;
  }
  body > header h1 {
    font-size: 30px;
  }
  body > header i {
    display: block;
    font-size: 30px;
  }
}
/* body > header {
  background-image: url(./media/banner.png);
  background-size: cover;
  background-position: right;
  height: 200px;
  width: 100%;
  max-width: 1000px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  text-align: center;
  letter-spacing: 20%;
  font-size: 30px;
  color: #000000;
  box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.25);
} */
